.tool-wrapper {
	margin: 15px 0px;
}

.tool-details {
	.tool-bar {
		margin-bottom: 15px;
	}
	.logo-wrapper {
		padding:20px;
	}
}

.prop-wrapper {
	margin: 10px 0px;
}

.prop-label {
	font-weight: bold;
}

.diff-wrapper {
	display:inline-block;
	position: relative;
    top: 9px;
	.material-design-icon {
		float:left;
		.material-design-icon__svg {
			width: 18px;
			height: 18px;
		}
	}
}

.platform-wrapper {
	display:inline-block;
	position: relative;
    top: 13px;
	.material-design-icon {
		float:left;
	}
}