.material-design-icon {
	float:left;
}
.tool-bar {
	.material-design-icon {
		height: 24px;
		.material-design-icon__svg {
			fill:#fff;
		}
	}
}
.tool-wrapper {
	margin: 15px 0px;
}

.tool-details {
	.tool-bar {
		margin-bottom: 15px;
	}
	.tool-logo-wrapper {
		padding:20px;
	}
}

.prop-wrapper {
	margin: 10px 0px;
}

.prop-label {
	font-weight: bold;
}

.diff-wrapper {
	display:inline-block;
	position: relative;
    top: 9px;
	.material-design-icon {
		float:left;
		.material-design-icon__svg {
			width: 18px;
			height: 18px;
		}
	}
	#circle-outline-icon {
		.material-design-icon__svg {
			fill:#bdbdbd;
		}
	}
	.lv1, .lv2 {
		#circle-icon {
			.material-design-icon__svg {
				fill:#4CAF50;
			}
		}
	}
	.lv3, .lv4 {
		#circle-icon {
			.material-design-icon__svg {
				fill:#FFC107;
			}
		}
	}
	.lv5 {
		#circle-icon {
			.material-design-icon__svg {
				fill:#F44336;
			}
		}
	}
}

.platform-wrapper {
	display:inline-block;
	position: relative;
    top: 13px;
	.material-design-icon {
		float:left;
	}
	#android-icon {
		.material-design-icon__svg {
			fill:#7AC05D;
		}
	}
	#apple-ios-icon {
		.material-design-icon__svg {
			fill:#999999;
		}
	}
	#apple-finder-icon {
		.material-design-icon__svg {
			fill:#4E68C9;
		}
	}
	#web-icon {
		.material-design-icon__svg {
			fill:#999999;
		}
	}
	#windows-icon {
		.material-design-icon__svg {
			fill:#1FAFF1;
		}
	}
}

.tool-logo-wrapper {
	img {
		width:100%;
	}
}

@media only screen 
  and (min-width: 320px) 
  and (max-width: 568px){
	.tool-logo-wrapper {
		text-align: center;
		img {
			width:50%;
			margin-bottom:20px;
		}
	}
}