@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');
@import url('https://mmwebfonts.comquas.com/fonts/?font=mymyanmar');

body {
	font-family: 'Raleway', 'MyMyanmar Universal',Myanmar3,Yunghkio,'Masterpiece Uni Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}

.material-design-icon {
	float:left;
}
.tool-bar {
	.material-design-icon {
		height: 24px;
		.material-design-icon__svg {
			fill:#fff;
		}
	}
}
.tool-wrapper {
	margin: 15px 0px;
}

.tool-details {
	.tool-bar {
		margin-bottom: 15px;
	}
	.tool-logo-wrapper {
		padding:20px;
	}
}

.prop-wrapper {
	margin: 20px 0px;
	&.use_case {
		background: rgb(103, 68, 154);
		padding:10px;
		color: #fff;
	}
	&.review {
		.prop-label  {
			color: #007bff;
		}
		.material-design-icon__svg {
			fill: #007bff;
		}
	}
	&.pros {
		.prop-label  {
			color: #28a745;
		}
		.material-design-icon__svg {
			fill: #28a745;
		}
	}

	&.cons {
		.prop-label  {
			color: #FFC107;
		}
		.material-design-icon__svg {
			fill: #FFC107;
		}
	}

	&.tutorials {
		.prop-label  {
			color: #67449a;
		}
		.material-design-icon__svg {
			fill: #67449a;
		}
	}
}

.prop-label {
	font-weight: bold;
	text-transform: uppercase;
	display:inline-block;
	margin-bottom: 5px;
	.material-design-icon {
		float:left;
		margin-right: 10px;
		.material-design-icon__svg {
			width: 18px;
			height: 18px;
		}
	}
}

.main_title {
	color: #67449a;
}

.diff-wrapper {
	display:inline-block;
	position: relative;
    top: 9px;
	.material-design-icon {
		float:left;
		.material-design-icon__svg {
			width: 18px;
			height: 18px;
		}
	}
	#circle-outline-icon {
		.material-design-icon__svg {
			fill:#bdbdbd;
		}
	}
	.lv1, .lv2 {
		#circle-icon {
			.material-design-icon__svg {
				fill:#4CAF50;
			}
		}
	}
	.lv3, .lv4 {
		#circle-icon {
			.material-design-icon__svg {
				fill:#FFC107;
			}
		}
	}
	.lv5 {
		#circle-icon {
			.material-design-icon__svg {
				fill:#F44336;
			}
		}
	}
}

.platform-wrapper {
	display:inline-block;
	position: relative;
    top: 13px;
	.material-design-icon {
		float:left;
	}
	#android-icon {
		.material-design-icon__svg {
			fill:#7AC05D;
		}
	}
	#apple-ios-icon {
		.material-design-icon__svg {
			fill:#999999;
		}
	}
	#apple-finder-icon {
		.material-design-icon__svg {
			fill:#4E68C9;
		}
	}
	#web-icon {
		.material-design-icon__svg {
			fill:#999999;
		}
	}
	#windows-icon {
		.material-design-icon__svg {
			fill:#1FAFF1;
		}
	}
}

.tool-logo-wrapper {
	img {
		width:100%;
	}
}

@media only screen 
  and (min-width: 320px) 
  and (max-width: 568px){
	.tool-logo-wrapper {
		text-align: center;
		img {
			width:50%;
			margin-bottom:20px;
		}
	}
}